body {
    background-color: aliceblue;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    text-align: center;
    margin-top: 40px;
}

.menu * {
    display: inline;
}

.menu ul {
    padding-left: 0px;
    padding-right: 20px;}

.menu li {
    margin: 40px;
}

.menu li a {
    text-decoration: none;  
    color: inherit;   
    font-size: 20px;
}

.profile {
    margin-top: 35px;
}

.profile img {
    border-radius: 30%;    
}
